<div mat-dialog-content>
  {{message}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onDismiss()">No</button>
  <button mat-raised-button style="background-color: #F79e02;" (click)="onConfirm()">Yes</button>
</div>
