.profile-card {
  width: 400px;
}

.user-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.user-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.profile-features {
  width: 50%;
  background-color: #798CBF;

}

.profile-card p {
  font-size: 17px;
  margin: 0;
  margin-left: 15px;

}

.profile-card button {
  margin-left: 6px;
}

.profile-card {
  background-color: #798CBF;
  color: aliceblue;
}

.edit-button {
  left: 350px;
  margin-left: 5%;
  top: 9px;
}

.edit-fields {
  display: inline-block;
  margin-left: 3px !important;
  margin-bottom: 20px !important;
}

.user-credentials {
  display: inline;
}

.edit-avatar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.edit-avatar button {
  color: #4364ab;
  background-color: #F79E02;
}

.save-btn {
  color: #4364ab;
  background-color: #F79E02;
}

.edit {
  color: #4364ab;
  background-color: #F79E02;
}

.subtitle {
  color: aliceblue;
}

::ng-deep .mat-form-field-underline {
  background-color: #F79E02 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #F79E02 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #F79E02 !important;
}

input {
  caret-color: #F79E02;
}

.admin-roles button {
  color: #4364ab;
  background-color: #F79E02;
  margin-left: 140px;
}


::ng-deep .mat-select-value {
  font-size: 16px;
}

.title {
  word-wrap: break-word;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  outline: 0;
}

.icons-container {
  display: inline-block;
  margin-top: 10px;
}

.content-card {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.mat-card {
  border: 55px !important;
  border-radius: 30px !important;
  border: #000 !important;
  border: 55px solid #000;
}

.post-card-header {
  max-width: 65%;
  display: inline-block;
}

.mat-paginator {
  background-color: transparent;
  font-size: 17px;
}

::ng-deep .mat-select-value {
  font-size: 16px;
}

.my-products-content {
  width: 100%;
}

.profile-features-title {
  font-size: 200%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  color: aliceblue;
}

.admin-action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.admin-action-buttons button {
  color: #4364ab;
  background-color: #F79E02;
}
