<div class="user-profile-container">
  <mat-card class="profile-card">
    <mat-card-header>
      <mat-card-title>{{singleUser.username}}</mat-card-title>
      <div class="edit-button" *ngIf="loggedIn">
        <button mat-raised-button class="save-btn" *ngIf="inEditMode" (click)="cancel()">Cancel</button>
        <span *ngIf="loggedUser.id === singleUser.id">
          <button mat-raised-button class="edit" *ngIf="!inEditMode" (click)="showEdit()">EDIT</button>
        </span>
        <button mat-raised-button class="save-btn" *ngIf="inEditMode" (click)="updateUser()">
          Save
        </button>
      </div>

      <mat-card-subtitle class="subtitle" *ngIf="!inEditMode">{{singleUser.email}}</mat-card-subtitle>
      <mat-card-subtitle class="subtitle" *ngIf="inEditMode">
        <mat-form-field>
          <input matInput [(ngModel)]="singleUser.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="edit-avatar" *ngIf="loggedIn && singleUser.id === loggedUser.id">
      <button type="button" mat-raised-button (click)="fileInput.click()">Change Avatar</button>
      <button type="button" mat-raised-button (click)="deleteAvatar()">Delete Avatar</button>
      <input hidden #fileInput (change)="onFileSelected(fileInput.files[0])" type="file">
    </div>
    <div class="admin-roles" *ngIf="loggedIn && loggedUser.userRole === 'Admin'">
      <div *ngIf="singleUser.userRole !== 'Admin'">
        <button type="button" *ngIf="singleUser.userRole === 'Basic'" mat-raised-button
          (click)="promoteToAdmin()">Promote
          Role</button>
        <button type="button" *ngIf="singleUser.userRole === 'Admin'" mat-raised-button (click)="demoteToBasic()">Demote
          Role</button>
      </div>
    </div>

    <img mat-card-image *ngIf="!loggedIn || singleUser?.id !== loggedUser?.id "
      src="{{singleUser?.avatarUrl? userAvatarSrcPrefix + singleUser.avatarUrl: defaultUserAvatarImagePath}}"
      alt="User Avatar">
    <img mat-card-image *ngIf="loggedIn && singleUser?.id === loggedUser?.id"
      src="{{loggedUser?.avatarUrl? userAvatarSrcPrefix + loggedUser.avatarUrl: defaultUserAvatarImagePath}}"
      alt="User Avatar">


    <mat-card-content>
      <p class="user-credentials">First Name:</p>
      <p class="edit-fields" *ngIf="!inEditMode">{{singleUser.firstName}}</p>&nbsp;
      <mat-form-field *ngIf="inEditMode">
        <input matInput [(ngModel)]="singleUser.firstName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <p class="user-credentials">Last Name:</p>
      <p class="edit-fields" *ngIf="!inEditMode">{{singleUser.lastName}}</p>&nbsp;
      <mat-form-field *ngIf="inEditMode">
        <input matInput [(ngModel)]="singleUser.lastName" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <br>
      <p *ngIf="!inEditMode">User Role: {{singleUser.userRole}}</p>
    </mat-card-content>
    <hr>
    <mat-card-actions class="admin-action-buttons" *ngIf="loggedIn && loggedUser.userRole === 'Admin'">
      <span *ngIf="singleUser.userRole !== 'Admin'">
        <button mat-raised-button (click)="deleteUser(singleUser.id)">Delete User</button>
      </span>
      <span *ngIf="singleUser.userRole !== 'Admin'">
        <button mat-raised-button *ngIf="!singleUser.banStatus.isBanned" (click)="openDialog()">Ban
          User</button>
        <button mat-raised-button *ngIf="singleUser.banStatus.isBanned" (click)="unbanUser(singleUser)">Unban
          User</button>
      </span>

    </mat-card-actions>
  </mat-card>

  <mat-card class="profile-features" *ngIf="loggedIn && singleUser.id === loggedUser.id">
    <mat-card-header class="profile-features-title">My Products</mat-card-header>
    <mat-card-content class="my-products-content">
      <mat-card class="content-card" *ngFor="let product of obs | async" [routerLink]="['/inventory/product',product.id]" style="cursor:pointer;outline: 0">

        <mat-card-header class="post-card-header">
          <mat-card-title class="title" >Name: {{ product.productName }}
            &nbsp;{{ product.productVersion }} &nbsp;
          </mat-card-title>
          <mat-card-subtitle class="subtitle-main">Vendor: {{ product.productVendor }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-footer class="created-on">
          <div class="icons-container">
            <span class="material-icons">
              privacy_tip
            </span>
            &nbsp; <span class="material-icons" style="font-size: 185% !important;">
              bug_report
            </span>
          </div>&nbsp;&nbsp;
          <strong>Created
            on:</strong> &nbsp; {{ product.createdOn | date }} &nbsp;
          <br>
          <span class="material-icons" style="color:green;" *ngIf="product.hasCPE">
            check_circle
          </span>
          <span class="material-icons" style="color:red;" *ngIf="!product.hasCPE">
            cancel
          </span>
          &nbsp;
          <span class="material-icons" style="color:green;" *ngIf="product.hasCVE">
            check_circle
          </span>
          <span class="material-icons" style="color:red;" *ngIf="!product.hasCVE">
            cancel
          </span>
        </mat-card-footer>

      </mat-card>
    </mat-card-content>
    <mat-paginator [length]="products.length" [pageSize]="6">
    </mat-paginator>
  </mat-card>
</div>
