/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.apexcharts-toolbar {
  visibility: hidden !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, .70) !important;
}

#SvgjsSvg1071 {
  margin-bottom: 80px;
}

th {
  background: #F79E02;
}
