<div class="search-page-container">

  <div class="search-page">

    <mat-card class="search-card">

      <mat-card-header class="search-header">

        <mat-card-title>
          <form class="search-form">

            <mat-form-field class="example-full-width">
              <input [(ngModel)]="valueToSearch" [ngModelOptions]="{standalone: true}" matInput
                placeholder="Search Product...">
            </mat-form-field>

            <mat-form-field>
              <mat-label>Options</mat-label>
              <mat-select [(value)]="selected" matNativeControl required>
                <mat-option value="None">None</mat-option>
                <mat-option value="productName">Name</mat-option>
                <mat-option value="productVendor">Vendor</mat-option>
                <mat-option value="title">CPE Title</mat-option>
                <mat-option value="cveId">CVE ID</mat-option>
              </mat-select>
            </mat-form-field>

          </form>
        </mat-card-title>

        <mat-card-actions>
          <button mat-button class="search-btn"><span class="material-icons"
              (click)="getProductByQuery()">search</span></button>
        </mat-card-actions>

      </mat-card-header>

      <h2 style="text-align: center; color: aliceblue;" *ngIf="!productsLength?.length">Products not found yet</h2>

      <mat-card-content class="content-container">
        <mat-card class="content-card" *ngFor="let product of this.obs | async"
          [routerLink]="['/inventory/product', product.id]"  style="cursor:pointer;outline: 0">
          <mat-card-header class="post-card-header">
            <mat-card-title class="title">Name: {{ product.productName }} - &nbsp;{{ product.productVersion }} &nbsp;
            </mat-card-title>

            <mat-card-subtitle class="subtitle-main">Vendor: {{ product.productVendor }}
            </mat-card-subtitle>

          </mat-card-header>

          <mat-card-footer class="created-on">
            <div class="icons-container">
              <span class="material-icons">
                privacy_tip
              </span>
              &nbsp; <span class="material-icons" style="font-size: 185% !important;">
                bug_report
              </span>
            </div>&nbsp;&nbsp;
            <strong>Created
              on:</strong> &nbsp; {{ product.createdOn | date }} &nbsp;
            <br>
            <span class="material-icons" style="color:green;" *ngIf="product.hasCPE">
              check_circle
            </span>
            <span class="material-icons" style="color:red;" *ngIf="!product.hasCPE">
              cancel
            </span>
            &nbsp;
            <span class="material-icons" style="color:green;" *ngIf="product.hasCVE">
              check_circle
            </span>
            <span class="material-icons" style="color:red;" *ngIf="!product.hasCVE">
              cancel
            </span>

          </mat-card-footer>

        </mat-card>
        <mat-paginator [length]="this.productsLength?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 15]">
        </mat-paginator>
      </mat-card-content>

    </mat-card>

  </div>


</div>
