.search-page-container {
  width: 100%;
}

.search-page {
  display: flex;
  justify-content: center;
}

.search-card {
  width: 65%;
  background-color: #798CBF;
  margin-top: 3%;
}

.example-full-width {
  width: 800px !important;
}

.search-button {
  display: inline;
}

.search-btn {
  height: 50px;
  margin-top: 10px;
}

.mat-focus-indicator .search-btn .mat-button mat-button-base {
  margin-top: 10px;
}

.content-container {
  width: 1000px;
}

.content-card {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.mat-card {
  border: 55px !important;
  border-radius: 30px !important;
  border: #000 !important;
  border: 55px solid #000;
}

.mat-paginator {
  background-color: #798CBF;
  font-size: 17px;
}

::ng-deep .mat-select-value {
  font-size: 16px;
}

.title {
  word-wrap: break-word;
  max-width: 550px;
  display: inline-block;
}

.icons-container {
  display: inline-block;
  margin-top: 10px;
}

::ng-deep .mat-form-field-underline {
  visibility: hidden;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #F79E02 !important;
}

input {
  caret-color: #F79E02;
}

.mat-input-element {
  color: aliceblue;
}
