<div mat-dialog-content>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="productNameFormGroup">
      <form [formGroup]="productNameFormGroup">
        <ng-template matStepLabel>Fill out your product name</ng-template>
        <mat-form-field>
          <mat-label>Product Name</mat-label>
          <input matInput [(ngModel)]="this.productName" placeholder="Enter a product name"
            formControlName="productNameCtrl" required>
          <mat-error *ngIf="productNameFormGroup.controls.productNameCtrl.errors">Product name is required</mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="productVendorFormGroup">
      <form [formGroup]="productVendorFormGroup">
        <ng-template matStepLabel>Fill out your product vendor</ng-template>
        <mat-form-field>
          <mat-label>Product Vendor</mat-label>
          <input matInput placeholder="Enter a product vendor" [(ngModel)]="this.productVendor"
            formControlName="productVendorCtrl" required>
          <mat-error *ngIf="productVendorFormGroup.controls.productVendorCtrl.errors">Product vendor is required
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="productVersionFormGroup">
      <form [formGroup]="productVersionFormGroup">
        <ng-template matStepLabel>Fill out your product version</ng-template>
        <mat-form-field>
          <mat-label>Product Version</mat-label>
          <input matInput placeholder="Enter a product version" [(ngModel)]="this.productVersion"
            formControlName="productVersionCtrl" required>
          <mat-error *ngIf="productVersionFormGroup.controls.productVersionCtrl.errors">Product version is required
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn-styles" [mat-dialog-close]="true">Cancel</button>
  <button mat-button class="btn-styles" (click)="addProduct()">Save</button>
</div>
