div {
  background-image: url('../../../assets/500.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

button {
  text-align: center;
  background-color: #F79E02;
  color: aliceblue;
  margin-top: 30px;
  margin-left: 45%;
}
