<div mat-dialog-content>
  <form [formGroup]="banFormGroup">
    <p style="color:aliceblue;">Enter your ban reason</p>
    <mat-form-field class="input-style">
      <mat-label>Ban Reason...</mat-label>
      <input matInput [(ngModel)]="banReasonField" formControlName="banReasonValidator" required>
      <mat-error *ngIf="banReasonValidator.errors?.required">This field is <strong>required</strong></mat-error>

    </mat-form-field>
    <p style="color:aliceblue;">Enter your ban expiration date</p>
    <mat-form-field class="input-style">
      <mat-label>Choose a Expriation Date</mat-label>
      <input matInput [(ngModel)]="banExpirationDate" [matDatepicker]="picker"
        formControlName="banExpirationDateValidator" required>
      <mat-error *ngIf="banExpirationDateValidator.errors?.required">This field is <strong>required</strong></mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [disabled]="banFormGroup.invalid" [mat-dialog-close]="true" (click)="toggleBanUser()"
    cdkFocusInitial>Ban</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
