.mat-dialog-content {
  text-align: center;
}

.input-style {
  width: 190px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
}

::ng-deep mat-dialog-container {
  background-color: #798CBF !important;
}

::ng-deep .mat-form-field-underline {
  background-color: #F79E02 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #F79E02 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #F79E02 !important;
}

input {
  caret-color: #F79E02;
}

.mat-dialog-actions button {
  color: #4364ab;
  background-color: #F79E02;
}
