<div class="header-container">

  <div class="img-container">
    <img mat-card-avatar [routerLink]="['users/profile',loggedUser.id]" class="user-avatar-img"
      src="{{loggedUser?.avatarUrl?userAvatarSrcPrefix+loggedUser?.avatarUrl:defaultUserAvatarImagePath}}" />
  </div>

  <div class="username-container">
    <label class="logged-username" [routerLink]="['users/profile',loggedUser.id]">{{loggedUser.username}}</label>
  </div>

  <div class="title-container">
    <h1 class="title" [routerLink]="['dashboard']">
      Vulnerability Tracking Software
    </h1>
  </div>

  <div class="buttons-container">
    <div class="navigation-btns">
      <button mat-button class="dashboard-btn" [routerLink]="['/dashboard']">
        Dashboard
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
        <mat-icon class="menu-icon">menu</mat-icon>
      </button>
      <mat-menu #menu1="matMenu">
        <button mat-menu-item [routerLink]="['/inventory']">
          <mat-icon>list_alt</mat-icon>
          <span>Inventory</span>
        </button>
        <button mat-menu-item (click)="openDialog()">
          <mat-icon>add</mat-icon>
          <span>Add Product</span>
        </button>
        <button mat-menu-item [routerLink]="['/search-page']">
          <mat-icon>search</mat-icon>
          <span>Search page</span>
        </button>
        <button mat-menu-item (click)="openDialogCVE()">
          <mat-icon>adb</mat-icon>
          <span>Search CVE</span>
        </button>
        <hr *ngIf="loggedUser.userRole === 'Admin'" />
        <button mat-menu-item [routerLink]="['/users']" *ngIf="loggedUser.userRole === 'Admin'">
          <mat-icon>group</mat-icon>
          <span>All Users</span>
        </button>
        <button mat-menu-item [routerLink]="['/register']" *ngIf="loggedUser.userRole === 'Admin'">
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button>
      </mat-menu>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" class="logout-btn">
        <mat-icon class="logout-icon" (click)="triggerLogout()">exit_to_app</mat-icon>
      </button>
    </div>
  </div>

</div>
