.logout-btn {
  color: aliceblue;
  font-family: "Baloo Bhaina 2", cursive;
  background-size: 30px;
  margin-left: 25%;
}

.logout-icon {
  font-size: 26px;
}

.dashboard-btn {
  color: aliceblue;
  border-radius: 30px;
  background-color: #F79E02;
}

.navigation-btns {
  margin-left: 20%;
  color: aliceblue;
}

.menu-icon {
  font-size: 35px;
  text-align: center;
}

.logged-username {
  font-size: 23px;
  outline: 0;
  cursor: pointer;
  display: inline;
}

.title {
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 40px;
  cursor: pointer;
  color: black;
  outline: 0;
  color: aliceblue;
}

.user-avatar-img {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  vertical-align: middle;
  margin-left: 20%;
  outline: 0;
  cursor: pointer;
}

.header-container {
  width: 100%;
}

.img-container {
  width: 6%;
  display: inline-block;
}

.username-container {
  width: 29%;
  display: inline-block;
  color: aliceblue;
}

.title-container {
  width: 45%;
  display: inline-block;
}

.buttons-container {
  width: 20%;
  display: inline-block;
}
