<div class="dashboard-container">

  <div class="main-border">

    <div class="pie-container">

      <div class="pie">
        <label class="all-products-label" [routerLink]="['/inventory']">All Products -
          CPEs</label>

          <canvas baseChart [data]="pieChartDataCPEs" [labels]="pieChartLabelsCPEs" [chartType]="pieChartTypeCPEs"
            [options]="pieChartOptions" [plugins]="pieChartPluginsCPEs" [legend]="pieChartLegendCPEs"
            [colors]="pieColors">
          </canvas>
        </div>

        <div class="pie">
        <label class="all-products-label" [routerLink]="['/inventory']">All Products -
          CVEs</label>

          <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend" [colors]="pieColors">
          </canvas>
        </div>

    </div>

    <hr style="margin: 2% 2% 0 2%;">

    <div class="diagram-container">
        <apx-chart [series]="chartOptions2?.series" [chart]="chartOptions2?.chart"
          [dataLabels]="chartOptions2?.dataLabels" [plotOptions]="chartOptions2?.plotOptions"
          [xaxis]="chartOptions2?.xaxis"></apx-chart>
    </div>

  </div>

  </div>
