.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-border {
  width: 80%;
  background-color: whitesmoke;
  margin-top: 1.5%;
  border-radius: 20px;
}

.pie-container {
  width: 100%;
}

.pie {
  width: 40%;
  display: inline-block;
  margin-left: 7%;
  text-align: center;
}

.diagram-container {
  display: flex;
  justify-content: center;
}

.all-products-label {
  font-size: large;
  font-family: "Baloo Bhaina 2", cursive;
  outline: none;
  cursor: pointer;
}
