.register-container {
  width: 30%;
  margin: auto;
  margin-top: 5%;
  justify-content: center;
  text-align: center;
}

.card-register {
  border-radius: 60px;
  box-shadow: none;
}

.register-btn {
  width: 20%;
  margin-top: 20px;
  background-color: #F79E02;
  color: aliceblue;
}

.username {
  width: 50%;
}

.password {
  width: 50%;
}

.firstName {
  width: 50%;
}

.lastName {
  width: 50%;
}

.email {
  width: 50%;
}

.male {
  margin-right: 20px;
}

.card-title {
  margin-bottom: 25px;
  color: #F79E02;
}
