<div class="register-container">
  <mat-card class="card-register">
    <mat-card-content>

      <mat-card-title class="card-title">Register</mat-card-title>
      <mat-form-field class="username">
        <mat-label>Enter username</mat-label>
        <input matInput [(ngModel)]="registerUsername" placeholder="Enter username" [formControl]="username" required>
        <mat-error *ngIf="username.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="password">
        <mat-label>Enter password</mat-label>
        <input matInput [(ngModel)]="registerPassword" placeholder="Enter password" [type]=" hide ? 'password' : 'text'"
          [formControl]=" password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <mat-form-field class="firstName">
        <mat-label>Enter fist name</mat-label>
        <input matInput [(ngModel)]="registerFirstName" placeholder="Enter firstName" [formControl]="firstName"
          required>
        <mat-error *ngIf="firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="lastName">
        <mat-label>Enter last name</mat-label>
        <input matInput [(ngModel)]="registerLastName" placeholder="Enter lastName" [formControl]="lastName" required>
        <mat-error *ngIf="lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="email">
        <mat-label>Enter email</mat-label>
        <input matInput [(ngModel)]="registerEmail" placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
      <br>
    </mat-card-content>
    <button mat-raised-button class="register-btn" (click)="registerUser()">Register</button>

  </mat-card>

</div>
