.inventory-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.tab-group {
  width: 85%;
}


::ng-deep .mat-tab-labels {
  justify-content: center;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 100%;
}

.align-no-products {
  text-align: center;
}
