<div class="inventory-container">
  <div class="tab-group">
    <mat-tab-group>
      <mat-tab class="tab-label" label="All Products">
        <div class="align-no-products" *ngIf="!allProducts.length">
          <h1>No Products Added</h1>
        </div>
        <div class="all-products" *ngIf="allProducts.length">
          <app-all-products></app-all-products>
        </div>
      </mat-tab>
      <mat-tab class="tab-label" label="Products With CVEs">
        <div class="align-no-products" *ngIf="!allProducts.length">
          <h1>No Products With CVEs Found</h1>
        </div>
        <div class="all-products" *ngIf="allProducts.length">
          <app-products-with-cves></app-products-with-cves>
        </div>
      </mat-tab>
      <mat-tab class="tab-label" label="Products Without CVEs">
        <div class="align-no-products" *ngIf="!allProducts.length">
          <h1>No Products Without CVEs Found</h1>
        </div>

        <div class="all-products" *ngIf="allProducts.length">
          <app-products-without-cves></app-products-without-cves>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
