<div class="container">

  <div class="flex-row" *ngIf="loggedIn">
    <span *ngIf="routes.url !== '/server-error'">
      <app-header *ngIf="routes.url !== '/404'" [loggedIn]="loggedIn" [loggedUser]="loggedUser" (logout)="logout()">
      </app-header>
    </span>
  </div>

  <div class="flex-expand">
    <router-outlet></router-outlet>
  </div>

  <div class="flex-row" *ngIf="routes.url !== '/404'">
    <span *ngIf="routes.url !== '/server-error'">
      <app-footer *ngIf="loggedIn"></app-footer>
    </span>
  </div>

  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#F79E02" type="ball-climbing-dot" [fullScreen]="true">
    <p style="color:#4364ab"> Loading... </p>
  </ngx-spinner>

</div>
