*,
body {
  margin: 0;
  padding: 0;
}

.flex-row {
  flex: 0 1 auto;
}

.flex-expand {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  background: linear-gradient(-45deg, #c9d6ff, #465e93);
}

