<div class="login-container">
  <mat-card class="card-login">
    <mat-card-content>
      <label class="system-title">Vulnerabilities</label><br />
      <label class="system-title" style="margin-top: 20px;">Tracking</label><br />
      <label class="system-title" style="margin-top: 40px;">Software</label>
      <div class="card-content">
        <mat-form-field class="username">
          <mat-label>Enter your username</mat-label>
          <input matInput [(ngModel)]="loginUsername" placeholder="Enter username" [formControl]="username" required />
          <mat-error *ngIf="username.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field class="password">
          <mat-label>Enter your password</mat-label>
          <input matInput [(ngModel)]="loginPassword" [type]="hide ? 'password' : 'text'" [formControl]="password"
            required />
          <mat-error *ngIf="password.invalid">{{
            getErrorMessagePassword()
          }}</mat-error>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-content>

    <button mat-raised-button color="accent" class="login-btn" (click)="login()">Login</button>
  </mat-card>
</div>
