.login-container {
  width: 50%;
  margin: auto;
  margin-top: 170px;
  justify-content: center;
  text-align: left;
}

.card-login {
  height: 480px;
  background-image: url("../../../assets/cloud.jpg");
  background-color: #f7f7f7;
}

.login-btn {
  position: absolute;
  left: 97px;
  bottom: 60px;
  width: 120px;
  height: 40px;
  font-size: 17px;
  color: aliceblue;
}

mat-form-field {
  margin-left: 10px;
  margin-top: 20px;
  width: 30%;
}


mat-card-title {
  margin-left: 10px;
  margin-bottom: 15px;
}

.card-content {
  margin-top: 13%;
}

.system-title {
  font-size: 35px;
  font-family: "Baloo Bhaina 2", cursive;
  position: absolute;
}
