table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 15%;
}

.all-users-container {
  display: flex;
  justify-content: center;
}

.table-container {
  margin-top: 2%;
  width: 85%;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 47px;
  vertical-align: middle;
  margin: 10px 0px 10px 0px;
}

::ng-deep .mat-form-field-underline {
  background-color: #F79E02 !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #F79E02 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #F79E02 !important;
}

input {
  caret-color: #F79E02;
}

.mat-input-element {
  color: aliceblue;
}
