<div class="all-users-container">
  <div class="table-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter Users...">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="avatarUrl">
          <th mat-header-cell *matHeaderCellDef > User </th>
          <td mat-cell *matCellDef="let row"  [routerLink]="['profile',row.id]" style="outline: 0;cursor: pointer;"> <img
              src="{{row?.avatarUrl ? userAvatarSrcPrefix + row?.avatarUrl: defaultUserAvatarImagePath}}" /> </td>
        </ng-container>


        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let row" [routerLink]="['profile',row.id]" style="outline: 0;cursor: pointer;"> {{row?.username}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row?.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row?.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row?.email}} </td>
        </ng-container>
        <ng-container matColumnDef="createdOn">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Registered On </th>
          <td mat-cell *matCellDef="let row"> {{row?.createdOn | date}} </td>
        </ng-container>

        <ng-container matColumnDef="userRole">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let row"> {{row?.userRole}} </td>
        </ng-container>

        <ng-container matColumnDef="banStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Ban Status </th>
          <td mat-cell *matCellDef="let row">
            <span class="material-icons" style="color:green;" *ngIf="row.banStatus?.isBanned">
              check_circle
            </span>
            <span class="material-icons" style="color:red;" *ngIf="!row.banStatus?.isBanned">
              cancel
            </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
