.footer {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
}

.contacts-container {
  width: 40%;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;

}

.images {
  width: 60%;
  display: inline-block;
  text-align: center;
  height: 0;
}

.ts-frameworks {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-left: 15px;
  margin-bottom: 7px;
  margin-top: 5px;
}

.telerik-logo {
  display: inline-block;
  width: 350px;
  height: 70px;
  margin-bottom: 7px;
  margin-top: 5px;
  margin-left: 10px;

}
