<div class="footer">

  <div class="contacts-container">

  <label style="font-size: 20px;"><b>Contacts:</b></label><br>
  <label style="font-size: 18px;">Petar Bonev - bonev09@abv.bg</label><br>
  <label style="font-size: 18px">Georgi Radev - georgy_90@abv.bg</label>

  </div>

  <div class="images">

    <img src="../../../../assets/telerik-logo.png" class="telerik-logo" alt="telerik-academy-logo">
    <img src="../../../../assets/do-it-wise.png" class="ts-frameworks" alt="do-it-wise-logo">
    <img src="../../../../assets/nest.png" class="ts-frameworks" alt="nest-logo">
    <img src="../../../../assets/angular.png" class="ts-frameworks" alt="angular  -logo">

  </div>

</div>
