.product-details-content {
  width: 80%;
  height: 30%;
  margin-top: 2%;
  background-color: transparent;
}

.product-details-container {
  display: flex;
  justify-content: center;
}

.description-card {
  width: 40%;
}

.cpes-card {
  width: 40%;
}

.title-details {
  text-align: center;
}

.font-size {
  font-size: 120%;
}

.cves {
  margin-left: 7%;
  margin-top: 2%;
}

.header {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 2%;
}

.content-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  width: 90%;
}

.title {
  max-width: 60%;
}

.subtitle-description {
  word-wrap: break-word;
  max-width: 95%;
  display: inline-block;
  font-size: 110%;
}

.subtitle-uri {
  word-wrap: break-word;
  max-width: 80%;
  display: inline-block;
}

.post-card-header {
  width: 80%;
}

.assign-cve {
  margin-left: 45%;
}

.delete-btn {
  position: absolute;
  right: 5%;
  top: 6%;
}
