<div class="product-details-container">
  <div class="product-details-content">
    <h1 style="text-align: center; color: aliceblue;">Product Details</h1>
    <div class="header">
      <div class="description-card">
        <mat-card>
          <mat-card-title class="title-details">
            <b>Product</b>
            <button mat-mini-fab color="accent" class="delete-btn"
              *ngIf="loggedUser.userRole === 'Admin' || singleProduct.user.username === loggedUser.username">
              <span class="material-icons" (click)="deleteProduct()" >
                delete_forever
              </span></button>
          </mat-card-title>
          <mat-card-title style="font-size: 20px;">
            Name: {{ singleProduct.productName }}
          </mat-card-title>

          <mat-card-subtitle class="font-size">
            Vendor: {{ singleProduct.productVendor }} <br>
            Version: {{ singleProduct.productVersion }}<br>
            Creator: {{ singleProduct.user.username }}
          </mat-card-subtitle>
          <hr>
          <mat-card-content>
            <mat-card-title class="title-details">
              Assigned CPE:
            </mat-card-title><br>
            <mat-card-subtitle class="font-size" *ngIf="singleProduct?.hasCPE">
              Title: <b>{{singleProduct?.cpes?.title}} </b><br>
              CpeUri: {{singleProduct?.cpes?.cpeUri23}}
            </mat-card-subtitle>
          </mat-card-content>
          <hr>
          <mat-card-content>
            <mat-card-title class="title-details">
              Assigned CVEs:
            </mat-card-title><br>
            <mat-card-subtitle class="font-size">
              {{matchedCvesIds}}
            </mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="cpes-card">
        <mat-card>
          <mat-card-title class="title-details">Best Candidates</mat-card-title>
          <span *ngIf="!this.singleProduct?.hasCPE">
            <h3 *ngIf="!matchedCpes?.length" class="title-details">No CPEs for this product found</h3>
          </span>
          <mat-card-content>
            <mat-selection-list #cpes [multiple]="false" *ngIf="!singleProduct.hasCPE">
              <mat-list-option role="option" *ngFor="let cpe of obs | async" (click)="assignCpe(cpe.id)"
                class="font-size">
                <b>{{cpe?.cpeUri23}}</b>
              </mat-list-option>
            </mat-selection-list>
            <mat-selection-list [multiple]="false" *ngIf="singleProduct.hasCPE">
              <mat-list-option role="options" class="font-size">
                <b>{{ singleProduct?.cpes?.title}}</b>
              </mat-list-option>
            </mat-selection-list>
          </mat-card-content>
        </mat-card>
        <mat-paginator *ngIf="!singleProduct.hasCPE && matchedCpes?.length" [length]="matchedCpes?.length"
          [pageSize]="5">
        </mat-paginator>
      </div>
    </div>
    <hr style="width: 83%">

    <div class="cves">
      <h2 style="text-align: center;" *ngIf="matchedCves?.length === 0">No CVEs found for this product</h2>
      <mat-card class="content-card" *ngFor="let cve of matchedCves">
        <mat-card-header class="post-card-header">
          <mat-card-title class="title">CVE-ID: {{ cve.cveId }}</mat-card-title>
          <br>

          <mat-card-subtitle class="subtitle-description"><b>Summary:</b> {{ cve.description}}
          </mat-card-subtitle>

        </mat-card-header>

        <mat-card-footer class="created-on">
          <div class="icons-container">
            <span class="material-icons">
              new_releases
            </span>
            <span class="material-icons" style="color:green;" *ngIf="cve.vulnerable">
              check_circle
            </span>
            <span class="material-icons" style="color:red;" *ngIf="!cve.vulnerable">
              cancel
            </span>
            <button mat-mini-fab class="assign-cve" *ngIf="!matchedCvesIds.includes(cve.cveId)"
              (click)="assignCve(cve.id)" style="background-color: #51689C;">
              <span class="material-icons">
                note_add
              </span>
            </button>
            <button mat-mini-fab class="assign-cve" *ngIf="matchedCvesIds.includes(cve.cveId)"
              (click)="unassignCve(cve.id)" color="accent">
              <span class="material-icons">
                delete_forever
              </span>
            </button>
          </div>

          <strong>Severity</strong> &nbsp;
          <span *ngIf="cve.severity === 'LOW'" style="color: green;"><b>{{ cve.severity}}</b></span>
          <span *ngIf="cve.severity === 'MEDIUM'" style="color: orange;"><b>{{ cve.severity}}</b></span>
          <span *ngIf="cve.severity === 'HIGH'" style="color: red;"><b>{{ cve.severity}}</b></span> &nbsp;
          <span *ngIf="cve.severity === 'CRITICAL'" style="color: black;"><b>{{ cve.severity}}</b></span> &nbsp;
          <br>
          <strong>Published On: </strong> &nbsp; {{ cve.publishedDate | date}} &nbsp;
          <br>
          <strong>Modified &nbsp; On: </strong> &nbsp; {{ cve.lastModifiedDate | date}} &nbsp;
          <br>


        </mat-card-footer>

      </mat-card>
    </div>
  </div>
</div>
