.search-card {
  max-width: 100%;
  background-color: transparent;
  box-shadow: none;
}

.content-card {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  width: 90%;
}

.example-full-width {
  width: 100%;
  margin-left: 15%;
}

.search-btn {
  margin-left: 20% !important;
  margin-top: 20% !important;
}

.title {
  max-width: 60%;
}

.subtitle-description {
  word-wrap: break-word;
  max-width: 95%;
  display: inline-block;
}

.subtitle-uri {
  word-wrap: break-word;
  max-width: 80%;
  display: inline-block;
}

.post-card-header {
  width: 80%;
}

::ng-deep .mat-form-field-underline {
  visibility: hidden;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #F79E02 !important;
}

input {
  caret-color: #F79E02;
}
