<mat-dialog-content class="mat-typography">

  <mat-card class="search-card">
    <mat-card-header class="search-header">

      <mat-card-title>
        <form class="search-form">

          <mat-form-field class="example-full-width">
            <input [(ngModel)]="cveID" [ngModelOptions]="{standalone: true}" matInput placeholder="Search CVE-ID...">
          </mat-form-field>
        </form>
      </mat-card-title>

      <mat-card-actions>
        <button mat-button class="search-btn"><span class="material-icons"
            (click)="searchSpecificCveById()">search</span></button>
      </mat-card-actions>

    </mat-card-header>

    <mat-card-content class="content-container" *ngIf="cveToShow">
      <mat-card class="content-card">
        <mat-card-header class="post-card-header">
          <mat-card-title class="title">CVE-ID: {{ cveToShow?.cveId }}</mat-card-title>
          <br>

          <mat-card-subtitle class="subtitle-uri"><strong>CpeUri23</strong> {{ cveToShow?.matchedUri}}
          </mat-card-subtitle>
          <mat-card-subtitle class="subtitle-description"><b>Summary:</b> {{ cveToShow?.description}}
          </mat-card-subtitle>

        </mat-card-header>

        <mat-card-footer class="created-on">
          <div class="icons-container">
            <span class="material-icons">
              new_releases
            </span>
            <span class="material-icons" style="color:green;" *ngIf="cveToShow?.vulnerable">
              check_circle
            </span>
            <span class="material-icons" style="color:red;" *ngIf="!cveToShow?.vulnerable">
              cancel
            </span>
          </div>
          <strong>Severity</strong> &nbsp;
          <span *ngIf="cveToShow?.severity === 'LOW'" style="color: green;"><b>{{ cveToShow?.severity}}</b></span>
          <span *ngIf="cveToShow?.severity === 'MEDIUM'" style="color: orange;"><b>{{ cveToShow?.severity}}</b></span>
          <span *ngIf="cveToShow?.severity === 'HIGH'" style="color: red;"><b>{{ cveToShow?.severity}}</b></span> &nbsp;
          <br>
          <strong>Published On: </strong> &nbsp; {{ cveToShow?.publishedDate | date}} &nbsp;
          <br>
          <strong>Modified &nbsp; On: </strong> &nbsp; {{ cveToShow?.lastModifiedDate | date}} &nbsp;
          <br>

        </mat-card-footer>

      </mat-card>
    </mat-card-content>

  </mat-card>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button style="background-color: #F79E02; color:aliceblue" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
