<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
      <td mat-cell *matCellDef="let row"> {{row?.user.username}} </td>
    </ng-container>

    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row" (click)="openSingleProduct(row)" style="cursor:pointer;outline: 0"> {{row.productName}} </td>
    </ng-container>

    <ng-container matColumnDef="productVendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </th>
      <td mat-cell *matCellDef="let row"> {{row.productVendor}} </td>
    </ng-container>

    <ng-container matColumnDef="productVersion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Version </th>
      <td mat-cell *matCellDef="let row"> {{row.productVersion}} </td>
    </ng-container>

    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
      <td mat-cell *matCellDef="let row"> {{row.createdOn | date}} </td>
    </ng-container>

    <ng-container matColumnDef="hasCPE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="material-icons">
          privacy_tip
        </span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span class="material-icons" style="color:green;" *ngIf="row.hasCPE">
          check_circle
        </span>
        <span class="material-icons" style="color:red;" *ngIf="!row.hasCPE">
          cancel
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="hasCVE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="material-icons" style="font-size: 250% !important;">
          bug_report
        </span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span class="material-icons" style="color:green;" *ngIf="row.hasCVE">
          check_circle
        </span>
        <span class="material-icons" style="color:red;" *ngIf="!row.hasCVE">
          cancel
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20, 25]"></mat-paginator>
</div>
